<section class="sidebar" aria-label="Filtres">
  <section>
    <h2>Catégories</h2>
    <div class="btn-group vertical" id="product-categories">
      <button [ngClass]="{'selected': category == 'cameras'}" (click)="onCategoryClick('cameras')">Appareils photo</button>
      <button [ngClass]="{'selected': category == 'consoles'}" (click)="onCategoryClick('consoles')">Consoles</button>
      <button [ngClass]="{'selected': category == 'screens'}" (click)="onCategoryClick('screens')">Écrans</button>
      <button [ngClass]="{'selected': category == 'computers'}" (click)="onCategoryClick('computers')">Ordinateurs</button>
      <button [ngClass]="{'selected': category == 'all'}" (click)="onCategoryClick('all')">Tous les produits</button>
    </div>
  </section>
  <section>
    <h2>Classement</h2>
    <div class="btn-group vertical" id="product-criteria">
      <button [ngClass]="{'selected': sorting == 'price-asc'}" (click)="onSortingClick('price-asc')">Prix (bas-haut)</button>
      <button [ngClass]="{'selected': sorting == 'price-dsc'}" (click)="onSortingClick('price-dsc')">Prix (haut-bas)</button>
      <button [ngClass]="{'selected': sorting == 'alpha-asc'}" (click)="onSortingClick('alpha-asc')">Nom (A-Z)</button>
      <button [ngClass]="{'selected': sorting == 'alpha-dsc'}" (click)="onSortingClick('alpha-dsc')">Nom (Z-A)</button>  
    </div>
  </section>
</section>
<article>
  <span class="right-header" id="products-count">{{products.length}} produits</span>
  <h1>Produits</h1>
  <div class="products" id="products-list">
    <div class="product" *ngFor="let product of products">
      <a routerLink="/produits/{{product.id}}" title="En savoir plus...">
        <h2>{{product.name}}</h2>
        <img alt="{{product.name}}" src="./assets/img/{{product.image}}">
        <p><small>Prix</small> {{product.price}}&thinsp;$</p>
      </a>
    </div>
  </div>
</article>
